<launch>
    <!-- moveit, sim is required, otherwise it waits for the real controllers to communicate... -->
    <include file="$(find rob8_ur10_hand_moveit_config)/launch/ur10_moveit_planning_execution.launch" >
        <arg name="sim" value="false" />
    </include>
    <include file="$(find rob8_ur10_hand_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find rob8)/config/rviz_config.rviz"/>
    </include>
    <!-- small node, which adds the floor to the planning scene -->
    <node pkg="rob8" type="planning_scene_setup.py" name="planning_scene_setup"/>

    <!-- rosbridge_server to connect with unity -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="address" value="hanslaptop.local"/>
    </include> 

    <include file="$(find rob8)/launch/camera_detect.launch">
    </include>
    
    <node pkg="rob8" type="Planner_script.py" name="trajectory_planner" />
    <node pkg="rob8" type="ui_scenechange.py" name="scenechangeui" />

    <!-- node which publishes planned trajectories to unity -->
    <node pkg="rob8" type="trajectory_to_joint_states" name="trajectory_to_joint_states" />
</launch>    
    